@charset "utf-8";
@import '../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';

.main-nav{
  background-color: #536DFE;
  color: #fff;
  a{
    color: #fff;
  }
  .nav-profile-pic{
    margin-top: 15px;
    border-radius: 100%;
  }
  .menu-btn{
    margin-bottom: 15px;
  }
}